/* For medium devices */
@media screen and (min-width: 1000px) {
    .nav{
        height: calc(var(--header-height) + 1.5rem );
    }
    .nav-toggle,
    .nav-close,
    .nav-img{
        display: none;
    }
    .nav-list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .header-bg {
      background: rgba(0, 0, 0, 0.445);
      box-shadow: 0 2px 4px rgba(238, 238, 238, 0.123);
      backdrop-filter: blur(10px);
    }
  
  }

  /* For large devices */
@media screen and (max-width: 1024px) {
    .home {
      margin-inline: 1.5rem;
      display: flex;
      align-items: center;
      grid-template-columns: 40% 60%;
      justify-items: center;
      flex-direction: column;
      
  }
  .hero-content {
    text-align: center;
  }
  .trust p {
    color: var(--third-color);
    max-width: 90%;
  }
  .built p {
    color: var(--third-color);
    max-width: 90%;
  }
  }


  @keyframes line {
    0% {
      background-position: 0% 50%;
     }
     50% {
      background-position: 100% 50%; 
     }
     100% {
      background-position: 0% 50%;
     }
  }
  @media screen and (max-width: 1000px) {
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
  }
  }

  @media screen and (max-width: 1024px) {
    .trust-crds {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      justify-items: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .trust-crds {
      display: grid;
      grid-template-columns: 100%;
      width: 100%;
      justify-items: center;
      align-items: center;
      gap: 7rem;
    }
  }

  
@media screen and (max-width: 1024px) {
    .secure {
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      padding-right: 0rem;
      justify-items: center;
      align-items: center;
    }
    .secure-content {
      text-align: center;
  }
  .secure-content h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
  }
  .ico {
    display: grid;
    grid-template-columns: 100%;
    padding: 4rem 0 0rem 0;
    justify-items: center;
    gap: 2rem;
  }
  .ico-1, .ico-2, .ico-3, .ico-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
  }
  }

  @media screen and (max-width: 1024px) {
    .advantage {
      display: grid;
      grid-template-columns: 100%;
      align-items: center;
      justify-content: center;
      justify-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 0 0rem 0rem 0rem; 
    font-weight: 400;
    gap: 1rem;
  }
  .content h2 {
    font-size: 2rem;
    text-align: center;
  }
  .content-sub {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  }

  @media screen and (max-width: 1024px) {
    .trust p {
      color: var(--third-color);
      max-width: 90%;
    }
    .built p {
      color: var(--third-color);
      max-width: 90%;
    }
    }

    /*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }
  
    .home-img-eth{
        width: 80px;
    }
    .home-img-orbe{
        width: 230px;
    }
    .home-data{
        right: .5rem;
    }
    .home-footer{
        flex-direction: column;
        row-gap: 2rem;
    }
  }
  
  