/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(203, 71%, 60%);
  --second-color: hsl(277, 56%, 68%);
  --text-color: hsl(203, 8%, 98%);
  --text-color-light: hsl(203, 8%, 80%);
  --body-color: hsl(259, 20%, 18%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Oxanium', cursive;
  --biggest-font-size: 2.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  user-select: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-inline: 1.5rem;
  
}

.main {
  align-items: center; /* For the animations */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .3s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 2rem;
}
.nav-logo, 
.nav-toggle, 
.nav-link, 
.nav-close{
  color: var(--text-color);
}

.nav-toggle{ 
  display: inline-flex;
  font-size: 1.25rem; 
  cursor: pointer; 
}

@media screen and (max-width: 1000px){ 
  .nav-menu{ 
    position: fixed; 
    background-color: var(--body-color); 
    width: 100%; 
    left: 0; 
    top: -100%; 
    box-shadow: 0 3px 8px hsla(203, 71%, 4%, .2); 
    padding: 4rem 0 3.5rem; 
    transition: top .4s; 
    overflow: hidden;
   }
}

.nav-list{ 
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  row-gap: 2rem; 
}

.nav-link{ 
  font-weight: var(--font-semi-bold); 
  transition: color .4s; 
}

.nav-link:hover{ 
  color: var(--first-color); 
}

.nav-close, 
.nav-img{ 
  position: absolute;
}

.nav-close{ 
  top: 1rem; 
  right: 1.5rem; 
  font-size: 1.5rem; 
  cursor: pointer; 
}

.nav-img{ 
  width: 92px;
  left: 1em;
  bottom: -2rem;
  filter: drop-shadow(0 4px 20px hsla(203, 71%, 60%, .5));
}
/* Show menu */
.show-menu{
  top: 0;
}

/* Active link */
.active-link{ 
  background: linear-gradient(90deg, var(--second-color) 0%, var(--first-color) 100%); 
  -webkit-background-clip: text;
  color: transparent;
}

/* Change background header */
.header-bg {
  background: var(--body-color);
  box-shadow: 0 2px 4px rgba(238, 238, 238, 0.123);
}
/*=============== HOME ===============*/
.home{ 
  position: relative; 
}

.home-container{ 
  position: relative; 
  padding: 7rem 0 2rem; 
}

.home-title{ 
  font-size: var(--biggest-font-size); 
  margin-bottom: .75rem; 
}

.home-title span {
  background: linear-gradient(90deg, var(--second-color)0%,var(--first-color)100%);
  -webkit-background-clip: text;
  color: transparent;
}

.home-description {
  color: var(--text-color-light);
  margin-bottom: 1.5rem;
}

.home-button{
  display: inline-block;
  background: linear-gradient(95deg,var(--second-color) 0%, var(--first-color) 100%);
  padding: 1rem 2rem;
  border-radius: .25rem;
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  transition: box-shadow .4s;
}

.home-button {
  box-shadow: 0 8px 48px hsla(203, 71%, 25%, .5);
}

.home-images,
.home-data {
  display: grid;
}

.home-img-eth {
  width: 230px;
  justify-self: center;
}

.home-img-eth img {
  filter: drop-shadow(0 4px 32px hsla(203,71%,60%,.5));
  animation: foat-eth 4s ease-in-out infinite;
}

.home-img-orbe {
  width: 280px;
  justify-self: center;
}

.home-data {
  position: absolute;
  top: 20rem;
  right: 1.5rem;
  row-gap: 1.25rem;
}

.home-data-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.home-data-subtitle {
  font-size: var(--smaller-font-size);
}

.home-footer,
.home-footer-time {
  display: flex;
}

.home-footer {
  margin-top: 2.5rem;
  column-gap: 3.5rem;
  justify-content: center;
}

.home-footer-title,
.home-footer-subtitle {
  font-size: var(--smaller-font-size);
  display: block;
}

.home-footer-title {
  margin-bottom: .75rem;
}

.home-footer-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.home-footer-time {
  column-gap: 1.25rem;
}

.home-footer-counter {
  text-align: center;
}
/* Shapes */
.home-shape-small,
.home-shape-big-1,
.home-shape-big-2{
  position: absolute;
  border-radius: 50%;
  filter: blur(90px);
}

.home-shape-small{
  width: 150px;
  height: 150px;
  background-color: var(--first-color);
  top: -2.5rem;
  left: -1.5rem;
}

.home-shape-big-1 {
  position: fixed;
  width: 250px;
  height: 250px;
  background-color: hsl(277deg 56% 68%);
  top: 16rem;
  right: -6.5rem;
}

.home-shape-big-2{
  position: fixed;
  width:300px;
  height: 300px;
  background-color: var(--first-color);
  bottom: -3.5rem;
  left: -3.5rem;
}

.home-shape-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
  opacity: .3;
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
      margin-inline: 1rem;
  }

  .home-img-eth{
      width: 80px;
  }
  .home-img-orbe{
      width: 230px;
  }
  .home-data{
      right: .5rem;
  }
  .home-footer{
      flex-direction: column;
      row-gap: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 1000px) {
  .nav{
      height: calc(var(--header-height) + 1.5rem );
  }
  .nav-toggle,
  .nav-close,
  .nav-img{
      display: none;
  }
  .nav-list{
      flex-direction: row;
      column-gap: 4rem;
  }
  .home-container{
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-items: center;
      gap: 2rem 4rem;
  }
  .home-group{
      grid-row: 1/3;
      grid-column: 2/3;
      align-self: center;
  }
  .ball {
    display: inline;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .home-title {
    margin-bottom: 1rem;
    font-size: 4rem;
}
  .home-description{
      margin-bottom: 3rem;
  }
  .home-img-orbe{
      width: 500px;
  }
  .home-img-eth{
      width: 300px;
  }
  .home-data{
      top: 10rem;
      right: 0;
      row-gap: 2.5rem;
  }
  .home-shape-small,
  .home-shape-big-1,
  .home-shape-big-2{
   filter: blur(130px);
  }
  .home-shape-small{
width: 150px;
height: 150px;
background-color: var(--first-color);
top: -2.5rem;
left: -1.5rem;
}
}


/* SKROLL BAR  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(146, 202, 219); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(158, 114, 179); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b343a; 
}

button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 button:active,
 button:hover {
  outline: 0;
 }
 
 button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 button:hover span {
  background: none;
 }
 
 button:active {
  transform: scale(0.9);
 }

button .text {
  font-size: 17px;
  font-family: inherit;
  font-weight: 600;
}


.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid rgb(84, 81, 202);
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

.ml2 {
  font-weight: 900;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
   padding: 6rem 0;
 }

.hero-content {
  text-align: start;
}
.home {
  margin-inline: 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    justify-items: center;
}
.hero-title {
  margin-bottom: 15px;
  font-size: 3.3rem;
}

.hero-title > span {
  display: inline-block;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--golden-puppy);
  -webkit-text-fill-color: transparent;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-7);
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}

.hero-banner {
  overflow: hidden;
}

.hero-banner img {
  width: 38rem;
}


